---
import Layout from '../../layouts/Layout.astro';
import CardLaunch from '../../components/CardLaunch.astro';
import Pagination from '../../components/Pagination.astro';
import { getLatestLaunches } from '../../services/spacex';

const currentPage = Number(Astro.params.page);
const pageSize = 9;
const { launches, totalDocs } = await getLatestLaunches(currentPage, pageSize);
console.log(`Launches data in [page].astro:`, launches);  // Verifica los datos obtenidos
console.log(`Total documents in [page].astro: ${totalDocs}`);  // Verifica el total de documentos

const totalPages = Math.ceil(totalDocs / pageSize);
---

<Layout title={`SpaceX Launches - Página ${currentPage}`}>
  <!-- Grid de lanzamientos -->
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 my-8">
    {launches.map((launch) => (
      <CardLaunch
        id={launch.id}
        img={launch.links.patch.small}
        details={launch.details}
        flightNumber={launch.flight_number}
        success={launch.success}
      />
    ))}
  </div>

  <!-- Controles de paginación -->
  <Pagination currentPage={currentPage} totalPages={totalPages} />
</Layout>
